* text=auto

tests/testdata/**/*             binary

# Configure GitHub's language detector
lib/*               linguist-vendored linguist-language=C++
Makefile.in         linguist-vendored
configure           linguist-vendored
config.sub          linguist-vendored
aclocal.m4          linguist-vendored
config.guess        linguist-vendored
depcomp             linguist-vendored
install-sh          linguist-vendored
missing             linguist-vendored
configure.ac        linguist-vendored=false
Makefile.am         linguist-vendored=false
